<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{% include "source/_includes/components/head-meta-tags.njk" %}

	{% include "source/_includes/components/head-css-tags.njk" %}
</head>
<body>

{% if title != "Home" %}{% endif %}

<header class="container {% if title != "Home" %}border-bottom mb-5{% endif %}">
	<div class="row align-items-center justify-content-between py-3">
		<div class="col"><h1 class="mb-0"><a href="{{ '/' | url }}" class="text-decoration-none">eCommerce</a></h1></div>

		<div class="col">
			<form class="input-group" action="/search/" method="get">
				<input type="text"
					   id="header-search-bar"
					   class="form-control"
					   placeholder="Search for a product like 'Product ABC'"
					   aria-label="Search for Products"
					   aria-describedby="header-search-btn"
					   name="search">
				<button class="btn btn-outline-secondary" type="submit" id="header-search-btn">Search</button>
			</form>
		</div>

		<div class="col text-end">
			<a href="/products/" class="btn btn-primary">Products</a>
			<a href="/documents/" class="btn btn-primary">Documents</a>
			<button class="btn btn-outline-primary dropdown-toggle" type="button" id="cart-dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "cart" %}
			</button>
			<ul id="cart-dropdown" class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="cart-dropdown-btn"></ul>
		</div>
	</div><!-- end row -->
</header><!-- end container -->

<main>
	{{ content | safe }}
</main>

<footer></footer>



{% include "source/_includes/components/footer-js-tags.njk" %}

</body>
</html>
