---
layout: layouts/base.njk
permalink: 404.html
title: "Page not found"
eleventyExcludeFromCollections: true
---

<div class="container">
	<h1 class="mb-5">Page not found.</h1>

	<p><a href="/" class="btn btn-success btn-lg">Go to the Homepage</a>.</p>
</div>{# end container #}
