---
layout: layouts/base.njk
title: "Cart"
permalink: /cart/
---

<div class="container">
	<h1>Your Cart</h1>

	<div id="cart-page"></div>

	<p class="text-end py-5"><button class="btn btn-outline-danger" data-deleteCart>Remove all items from your cart</button></p>
</div>{# end container #}
