---
layout: layouts/base.njk
title: "Home"
permalink: /
---

<div id="carousel" class="carousel slide mb-5" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/images/carousel/carousel-1.png" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/images/carousel/carousel-2.png" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/images/carousel/carousel-3.png" class="d-block w-100" alt="...">
		</div>
	</div><!-- end carousel inner -->

	<a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</a>

	<a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
</div><!-- end carousel -->

<div class="container pb-5">
	<h2>Products</h2>

	<div class="row">
		{% for product in products %}
			<div class="col-lg-3">
				<div class="card h-100">
					<img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
					<div class="card-body">
						<h5 class="card-title">{{ product.name }}</h5>
						<a href="/products{{ product.url }}" class="btn btn-primary stretched-link">View</a>
					</div>
				</div><!-- end card -->
			</div><!-- end col -->
		{% endfor %}


		<div class="col-lg-3">
			<div class="card bg-light h-100">
				<div class="d-flex flex-column align-items-center justify-content-center h-100">
					<p style="font-size: 50px">{% icon "cart" %}</p>
					<a href="/products/" class="btn stretched-link">See all products</a>
				</div>
			</div><!-- end card -->
		</div><!-- end col -->
	</div><!-- end row -->
</div><!-- end container -->



<div class="container pb-5">
	<h2>Documents</h2>

	<div class="row">
		{% for document in documents %}
			<div class="col-lg-3">
				<div class="card h-100">
					<img src="{{ document.image }}" class="card-img-top" alt="{{ document.name }}">
					<div class="card-body">
						<h5 class="card-title">{{ document.name }}</h5>
						<a href="/documents{{ document.url }}" class="btn btn-primary stretched-link">View</a>
					</div>
				</div><!-- end card -->
			</div><!-- end col -->
		{% endfor %}


		<div class="col-lg-3">
			<div class="card bg-light h-100">
				<div class="d-flex flex-column align-items-center justify-content-center h-100">
					<p style="font-size: 50px">{% icon "file-earmark-richtext" %}</p>
					<a href="/documents/" class="btn stretched-link">See all documents</a>
				</div>
			</div><!-- end card -->
		</div><!-- end col -->
	</div><!-- end row -->
</div><!-- end container -->
