---
layout: layouts/base.njk
title: "Search"
permalink: /search/
---

<div class="container">
	<h1>Search Results for <span id="search-parameter" class="text-muted small fst-italic"></span></h1>

	<div id="search-results"></div>
</div>{# end container #}
