html {
	scroll-behavior: smooth;
}

main {
	min-height: 90vh;
}

.search-results-popover {
	width: 100%;
}

#cart-dropdown {
	margin-top: 5px!important;
}

#load-document-canvas {
	direction: ltr;
	display: block;
	margin: 0 auto 30px auto;
	border-radius: 10px;
}

.cart-page-item-image {
	max-width: 150px;
}
